rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /doctors/{docId} {
      allow read: if true;
      allow write: if request.auth != null && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' || request.auth.uid == docId);
    }
    
    function isSuperAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isDoctor() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'doctor';
    }

    match /doctor_applications/{userId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      allow read: if isSuperAdmin();
      allow update, delete: if false; 
    }

    // --- HL7 FHIR RESOURCES ---
    match /patients/{patientId} {
      allow read: if request.auth != null && (request.auth.uid == patientId || isDoctor() || isSuperAdmin());
      allow write: if isSuperAdmin();
    }

    match /encounters/{encounterId} {
      allow read: if request.auth != null && (
        resource.data.subject.reference == 'Patient/' + request.auth.uid || 
        isDoctor() || isSuperAdmin()
      );
      allow create: if isDoctor();
      allow update: if request.auth != null && (
        isDoctor() || isSuperAdmin()
      );
    }

    // Default Deny
    match /{document=**} {
      allow read, write: if request.auth != null && (request.auth.uid == resource.data.userId || isSuperAdmin());
    }
  }
}
